@font-face {
  font-family: "Netflix Sans";
  src: url("../fonts/NetflixSans-Regular.woff2");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 700;
  src: url("../fonts/NetflixSans-Bold.woff2");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 500;
  src: url("../fonts/NetflixSans-Medium.woff2");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 300;
  src: url("../fonts/NetflixSans-Light.woff2");
}
